export PGDATABASE=gymbro_db
export DATABASE_URL="postgres://postgres:postgres@localhost/gymbro_db?sslmode=disable"
export GOOSE_MIGRATION_DIR=db/migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="$DATABASE_URL"
export TEST_DATABASE_NAME=gymbro_db
export TEST_DATABASE_URL="postgres://postgres:postgres@localhost/${TEST_DATABASE_NAME}?sslmode=disable"
export JWT_SECRET="supersecret_noone_will_get_out"