export PGDATABASE=gymbro_auth
export DATABASE_URL="postgres://postgres:postgres@localhost/gymbro_auth?sslmode=disable"

export JWT_SECRET="supersecret_noone_will_get_out"

export GOOSE_MIGRATION_DIR=db/migrations
export GOOSE_DRIVER=postgres
export GOOSE_DBSTRING="$DATABASE_URL"

export TEST_DATABASE_NAME=gymbro_auth_test
export TEST_DATABASE_URL="postgres://postgres:postgres@localhost/${TEST_DATABASE_NAME}?sslmode=disable"
